@import "Header";
@import "Products";
@import "Order";

.app {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-rows: 15vh 85vh;
  grid-template-columns: 100%;
}

.app-body {
  display: grid;
  justify-items: center;
  padding-top: 4%;
}

.products-block {
  width: 80%;
  height: 33vh;
  background-color: lightgrey;
  border-radius: 0.5em;
  text-align: center;
  display: grid;
  align-items: center;
}