.header-container {
  display: flex;
  justify-content: flex-end;
  padding-right: 4%;
  padding-top: 1%;
}

.checkout-button {
  background-color: lightgrey;
  color: black;
  display: flex;
  cursor: pointer;
  padding: 0.25%;
  border-radius: 0.5em;
  width: 50%;
  column-gap: 10%;
  justify-content: center;
}

.basket {
  display: flex;
  column-gap: 0.5em;
  color: white;
  cursor: pointer;
}

.checkout {
  height: 80%;
  margin: 0 4% 0 4%;
}

.checkout-container {
  height: 80%;
  overflow-y: auto;
  overflow-x: hidden;
  overscroll-behavior: contain;
}

.checkout-title {
  display: grid;
  grid-template-rows: 100%;
  grid-template-columns: 20% 20% 20% 20% 20%;
  padding: 2%;
  font-weight: bolder;
  border-bottom: 0.25em solid black;
}

.checkout-product {
  display: grid;
  grid-template-rows: 100%;
  grid-template-columns: 20% 20% 20% 20% 20%;
  margin: 2%;
}

.checkout-page-summary {
  padding: 5%;
}

.checkout-summary-container {
  width: 100%;
  height: 100%;
  display: grid;
  justify-items: center;
}

.checkout-summary {
  width: 80%;
  height: 50vh;
  background-color: lightgrey;
  border-radius: 0.5em;
  display: grid;
  align-items: center;
  justify-content: center;
}

.checkout-summary-buttons {
  display: flex;
  cursor: pointer;
  column-gap: 10%;
}
