@import "Checkout";

.navigation-bar {
  width: 100%;
  display: grid;
  grid-template-columns: 20% 20% 20% 1fr;
  grid-template-rows: 100%;
  align-self: center;

  svg {
    color: white;
  }

  a {
    text-decoration: none;
    color: white;
  }
}

label.user-name {
  color: white;
}